


<nav  class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#home"><img class="logo" src="images/logo-AM-Data-1024x485.png" alt=""> </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Technologies">Our Technologies</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sectors
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Mining</a></li>
              <li><a class="dropdown-item" href="#">Railway</a></li>
              <li><a class="dropdown-item" href="#">Road And Highways</a></li>
              <li><a class="dropdown-item" href="#">Agriculture</a></li>
              <li><a class="dropdown-item" href="#">Gas And Pipeline</a></li>
              <li><a class="dropdown-item" href="#">Forest</a></li>
              <li><a class="dropdown-item" href="#">Waste Managemengt</a></li>
              <li><a class="dropdown-item" href="#">Irrigation</a></li>
              <li><a class="dropdown-item" href="#">Powerline</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Technologies">Contact Us</a>
          </li>
      
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
     
    </div>
    
  </nav>